.cartBox {
    color: $colorText;
    font-size: 1.25rem;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    border: none !important; /* tắt đường kẻ ngăn cách menu */
    height: $height_headerMain; 
    &:hover {
        .cartBox_list {
            display: flex;
            flex-direction: column;
        }
        .cartBox_background {
            display: block;
        }
    }
    &_show {
        display: flex;
        gap: 1rem;
        color: inherit;
        height: inherit;
        align-items: center;
        float: right;
        text-transform: none;
        &_icon {
            position: relative;
            width: 1.75rem;
            height: 1.75rem;
            color: #f1ede1;
            &:after { /* giả lập đường kẻ ngăn cách menu */
                content: '';
                height: 25px;
                width: 25px;
                position: absolute;
                left: -2rem;
                top: 0;
                border-left: 1px solid rgba(#fff, 0.2);
            }
            &:hover {
                color: #f1ede1;
            }
            img {
                width: inherit;
                height: inherit;
                // opacity: 0.75;
            }
            &_number {
                background: linear-gradient(45deg, $colorLv1, $colorLv2);
                position: absolute;
                border-radius: 50%;
                font-size: 1rem;
                font-family: $fontTitle;
                width: 1.75rem;
                height: 1.75rem;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -0.75rem;
                right: -1.25rem;
                &:dir(rtl), [dir="rtl"] & {
                    right: unset;
                    left: -1.25rem;
                }
            }
        }
        &_text {
            color: inherit;
            font-family: $fontTitle;
        }
    }
    &_list {
        display: none;
        width: 420px;
        background: $colorBackgroundLv2;
        @include colorOpacity('color', $colorText, 0.8);
        position: absolute;
        z-index: 1;
        border-top: 2px solid $colorBackgroundLv3;
        box-shadow: 1px 1px 5px $colorBackgroundLv3;
        padding: 0;
        top: calc($heightMenu + 2rem);
        right: 0;
        .customScrollBar-y {
            max-height: 480px;
        }
        &_item {
            @include itemSearchProduct;
            &.buttonBox {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                border-top: 1px solid $colorBackgroundLv3;
                background: none !important;
                .total {
                    width: 100%;
                    > span {
                        font-size: 1.4rem;
                        font-weight: bold;
                        letter-spacing: 2px;
                        color: $colorLv1;
                    }
                }
                .button {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    max-width: 180px;
                    padding: 0.5rem 1rem;
                    color: #f1ede1;
                    text-transform: none;
                    font-family: $fontTitle;
                }
            }
        }
    }
    &_background {
       @include backgroundModal;
    }
    .emptyCartBox {
        a.button {
            display: none;
        }
    }
    @media(max-width: 1199px){
        min-width: 106px;
    }
    @media(max-width: 991px){
        min-width: 35px;
        margin-right: 0.5rem;
        &:dir(rtl), [dir="rtl"] & {
            margin-right: unset;
            margin-left: 0.5rem;
        }
        &_show {
            &_text {
                display: none;
            }
        }
        &_list {
            display: none !important;
        }
        &_background {
            display: none !important;
        }
    }
}
.emptyCartBox {
    background: $colorBackgroundLv2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1.25rem;
    text-transform: none;
    img {
        max-width: 200px;
        opacity: 0.8;
    }
    &_button {
        margin-top: 1rem;
    }
}