.tableRanking {
    width: 100%;
    overflow: auto;
    table {
        font-size: 1.1rem;
        border: 1px solid $colorBackgroundLv3;
        min-width: 1000px;
        tr {
            &:nth-child(2n + 2){
                background: $colorBackgroundLv2;
            }
            th {
                font-weight: 500 !important;
                font-size: 1.1rem;
            }
            th, td {
                padding: 1rem;
                text-transform: none;
                &.nameLifter, &.event, &.squad, &.bench, &.deadlift {
                    font-weight: bold;
                }
                &.squad {
                    color: $colorLv2 !important;
                }
                &.bench {
                    color: #0084b8 !important;
                }
                &.deadlift {
                    color: #5010aa !important;
                }
                
            }
        }
    }
}