.elementor-2904 .elementor-element.elementor-element-a8f8d09, .elementor-2904 .elementor-element.elementor-element-e47fc76 {
    @media(max-width: 1199px){
        padding: 80px 0 100px 0 !important;
    }
    @media(max-width: 1023px){
        padding: 60px 0 80px 0 !important;
    }
    @media(max-width: 767px){
        padding: 40px 0 60px 0 !important;
    }
}

.sc_title.sc_title_default .sc_item_subtitle, .scheme_default .related_subtitle {
    @media(max-width: 1199px){
        font-size: 2.75rem !important;
    }
    @media(max-width: 1023px){
        font-size: 2.5rem !important;
    }
    @media(max-width: 767px){
        font-size: 2.25rem !important;
    }
}

.sc_title.sc_title_default .sc_item_title, .related_wrap.related_style_wide .related_wrap_title {
    @media(max-width: 1199px){
        font-size: 3.5rem !important;
        line-height: 4.5rem !important;
    }
    @media(max-width: 1023px){
        font-size: 3.25rem !important;
        line-height: 4.25rem !important;
    }
    @media(max-width: 767px){
        font-size: 3rem !important;
        line-height: 3.75rem !important;
    }
}

.sc_item_subtitle + .sc_item_title {
    margin-top: 0 !important;
}

.elementor-2904 .elementor-element.elementor-element-01103d2 {
    margin: 0 0 2.5rem 0 !important;
    @media(max-width: 1199px){
        margin: 0 0 2.25rem 0 !important;
    }
    @media(max-width: 1023px){
        margin: 0 0 2rem 0 !important;
    }
    @media(max-width: 767px){
        margin: 0 0 1.75rem 0 !important;
    }
}

.elementor-widget:not(:last-child) {
    @media(max-width: 1199px){
        margin-block-end: 17.5px !important;
    }
    @media(max-width: 1023px){
        margin-block-end: 15px !important;
    }
    @media(max-width: 767px){
        margin-block-end: 12.5px !important;
    }
}

/* box introduce */
.elementor-2904 .elementor-element.elementor-element-065aba8>.elementor-element-populated.elementor-widget-wrap, .elementor-2904 .elementor-element.elementor-element-ccb1071>.elementor-element-populated.elementor-widget-wrap {
    padding: 0 !important;
}
.elementor-2904 .elementor-element.elementor-element-005ff96:not(.elementor-motion-effects-element-type-background) {
    margin-top: 1rem;
    @media(max-width: 1199px){
        margin-top: 0.75rem !important;
    }
    @media(max-width: 767px){
        margin-top: 0.5rem !important;
    }
    // @media(max-width: 767px){
    //     margin-block-end: 12.5px !important;
    // }
}
.elementor-2904 .elementor-element.elementor-element-005ff96 {
    padding: 240px 46px 31px 31px !important;
    @media(max-width: 1023px){
        padding: 200px 30px 30px 30px !important;
    }
}

/* box events */
.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom, .row>[class*=column-], .columns_wrap>[class*=column-], .trx_addons_columns_wrap>[class*=trx_addons_column-] {
    padding: 1rem 2.5rem 2.5rem 0 !important;
    @media(max-width: 1199px){
        padding: 1rem 2rem 2rem 0 !important;
    }
    @media(max-width: 1023px){
        padding: 1rem 1.5rem 1.5rem 0 !important;
    }
    
}
body .sc_blogger.sc_blogger_default .trx_addons_column-1_3 {
    @media(max-width: 767px){
        padding-bottom: 1.5rem !important;
        padding-top: 0 !important;
    }
}
.elementor-container > .elementor-row > .elementor-column > .elementor-element-populated, .elementor-container > .elementor-column > .elementor-element-populated {
    @media(max-width: 767px){
        padding: 0;
    }
}
.row, .columns_wrap, .trx_addons_columns_wrap {
    @media(max-width: 1023px){
        margin-right: -22.5px !important;
    }
}
.elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated, .elementor-column-gap-extended > .elementor-column > .elementor-element-populated {
    padding: 0 !important;
}
/* box blog */
.elementor-section.elementor-section-boxed:not( .elementor-section-with-custom-width ) > .elementor-column-gap-extended {
    max-width: 1920px !important;
    padding-left: 130px !important;
    padding-right: 130px !important;
    @media(max-width: 1279px){
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    @media(max-width: 1023px){
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    // @media(max-width: 767px){
    //     padding-left: 15px !important;
    //     padding-right: 15px !important;
    // }
}
.elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated, .elementor-column-gap-extended > .elementor-column > .elementor-element-populated {
    @media(max-width: 767px){
        padding: 0 !important;
    }
}
.elementor-2904 .elementor-element.elementor-element-6e6ccb7 {
    padding: 100px 0px !important;
    margin: 100px 0px !important;
    @media(max-width: 1199px){
        padding: 80px 0 !important;
        margin: 80px 0px !important;
    }
    @media(max-width: 1023px){
        padding: 40px 0 60px 0 !important;
        margin: 60px 0px !important;
    }
    @media(max-width: 767px){
        padding: 30px 0 !important;
        margin: 30px 0px !important;
    }
}
.sc_blogger_item_excerpt {
    font-size: 1.25rem;
}
/* box video */
.elementor-2904 .elementor-element.elementor-element-017fb78 {
    padding: 0px 0px 100px 0px !important;
    @media(max-width: 1199px){
        padding: 0px 0px 80px 0px !important;
    }
    @media(max-width: 1023px){
        padding: 0px 0px 60px 0px !important;
    }
    @media(max-width: 767px){
        padding: 0px 0px 50px 0px !important;
    }
}
/* registry email */
.elementor-element.elementor-element-44a8dd52 {
    padding: 100px 0px !important;
    @media(max-width: 1199px){
        padding: 80px 0 !important;
    }
    @media(max-width: 1023px){
        padding: 40px 0 60px 0 !important;
    }
    @media(max-width: 767px){
        padding: 30px 0 !important;
    }
}
// .mc4wp-form {
//     width: 100% !important;
// }
// .mc4wp-form-fields {
//     display: flex;
//     width: 100% !important;
//     > * {
//         width: 100% !important;
//     }
//     input {
//         width: inherit !important;
//     }
// }
/* footer */
.elementor-4977 .elementor-element.elementor-element-06b3372 {
    padding: 100px 0px 40px 0 !important;
    @media(max-width: 1199px){
        padding: 80px 0 30px !important;
    }
    @media(max-width: 1023px){
        padding: 60px 0 20px 0 !important;
    }
    @media(max-width: 767px){
        padding: 40px 0 10px !important;
    }
}
/* trang tin tức */
.page_content_wrap {
    @media(max-width: 1279px){
        padding-top: 8.2rem !important;
        padding-bottom: 5.6rem !important;
    }
    @media(max-width: 1023px){
        padding-top: 5.6rem !important;
        padding-bottom: 5.6rem !important;
    }
    @media(max-width: 767px){
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    @media(max-width: 577px){
        padding-top: 4.8rem !important;
        padding-bottom: 4.8rem !important;
    }
}
body .content_wrap, .content_container {
    @media(max-width: 767px){
        width: 100% !important;
        padding: 0 15px;
    }
    @media(max-width: 577px){
        padding: 0 12.5px;
    }
}
.sidebar .widget + .widget, .sidebar[class*=scheme_] .widget + .widget {
    margin-top: 0 !important;
}
.sidebar[class*=scheme_] .sidebar_inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @media(max-width: 1199px){
        gap: 2.25rem;
    }
    @media(max-width: 1023px){
        gap: 2rem;
    }
    @media(max-width: 767px){
        gap: 1.75rem;
    }
}
.single.single-post .post_item_single, .sidebar[class*=scheme_] .widget {
    padding: 2.5rem !important;
    @media(max-width: 1199px){
        padding: 2.25rem !important;
    }
    @media(max-width: 1023px){
        padding: 2rem !important;
    }
    @media(max-width: 767px){
        padding: 1.75rem !important;
    }
    @media(max-width: 577px){
        padding: 1.5rem !important;
    }
}
.sidebar .widget .widget_title {
    @media(max-width: 1199px){
        margin: -32px -32px 32px -32px !important;
    }
    @media(max-width: 1023px){
        margin: -30px -30px 30px -30px !important;
    }
    @media(max-width: 767px){
        margin: -26px -26px 26px -26px !important;
    }
    @media(max-width: 577px){
        margin: -22px -22px 22px -22px !important;
    }
}
.sidebar:not(.sidebar_float) .widget, .sidebar:not(.sidebar_float)[class*=scheme_] .widget {
    @media(max-width: 1023px){
        width: 100% !important;
    }
}
aside .post_item + .post_item {
    
    @media(max-width: 1199px){
        margin-top: 1.75rem !important;
    }
    @media(max-width: 767px){
        margin-top: 1.5rem !important;
    }
    @media(max-width: 577px){
        margin-top: 1.25rem !important;
    }
}
.scheme_default .post_item {
    @media(max-width: 1199px){
        display: flex;
        flex-direction: column;
    }
    @media(max-width: 1023px){
        display: block;
    }
    // @media(max-width: 1199px){
    //     display: flex;
    //     flex-direction: column;
    // }
}
.widget_area .post_item .post_thumb, aside .post_item .post_thumb {
    @media(max-width: 1199px){
        width: 100% !important;
        height: 160px !important;
        margin: 0 0 0.35rem 0 !important;
    }
    @media(max-width: 1023px){
        width: 5em !important;
        height: 5em !important;
        margin: 0 1.3em 4px 0 !important;
    }
}
body .section_title {
    margin-bottom: 1.5rem !important;
}
.trx_addons_columns_wrap.columns_padding_bottom > [class*=trx_addons_column-], .trx_addons_columns_wrap > [class*=trx_addons_column-].columns_padding_bottom, .row > [class*=column-], .columns_wrap > [class*=column-], .trx_addons_columns_wrap > [class*=trx_addons_column-] {
    padding-top: 0 !important;
}
body .related_wrap {
    padding-top: 0 !important;
    margin-top: 60px !important;
    @media(max-width: 1199px){
        margin-top: 50px !important;
    }
    @media(max-width: 1023px){
        margin-top: 40px !important;
    }
    @media(max-width: 767px){
        margin-top: 30px !important;
    }
}
[class*=content_wrap]>.sidebar {
    
    @media(max-width: 767px){
        margin-top: 2rem !important;
    } 
    @media(max-width: 577px){
        margin-top: 1.5rem !important;
    } 
}
.related_wrap .post_title {
    @media(max-width: 767px){
        height: auto !important;
    } 
}
.related_wrap.related_style_wide .post_title {
    @media(max-width: 767px){
        margin: 0 0 5px !important;
    } 
}
.related_wrap.related_style_wide .related_item.has-post-thumbnail .post_featured {
    @media(max-width: 767px){
        margin: 0 0 12.5px !important;
    }
}
.related_wrap.related_style_wide .related_item .post_meta {
    @media(max-width: 767px){
        margin-bottom: 12.5px !important;
    }
}
.related_style_wide .columns_wrap.posts_container.columns_padding_bottom .column-1_1 {
    @media(max-width: 767px){
        padding-bottom: 25px !important;
    }
}
