.tocContentMain {
    border-radius: 0.5rem;
    position: relative;
    background: rgba($colorBackgroundLv2, 1);
    &_title {
        padding: 0.75rem 1.5rem;
        font-family: $fontTitle;
        cursor: pointer;
        // border-bottom: 1px solid rgba($colorLv2, 0.35);
        // color: $colorText;
        display: flex;
        gap: 1rem;
        background: $colorBackgroundLv3;
        &_icon {
            &::before {
                @include fontAwesome;
                content: "\f0ca";
            }
        }
    }
    &_list {
        padding: 0.5rem 1.5rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.68;
        max-height: 500px;
        &_item {
            display: flex;
            padding-top: 0.75rem;
            color: $colorText;
            &:not(:first-child){
                margin-top: 0.75rem;
                border-top: 1px dashed $colorBackgroundLv3;
            }
        }
        &.customScrollBar-y {
            // &::-webkit-scrollbar {
            //   background-color: $colorBackgroundLv1;
            // }
            @include scrollbarCustom;
        }
    }
    &_close {
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0.3rem;
        right: 0;
        &:dir(rtl), [dir="rtl"] & {
            right: unset;
            left: 0;
        }
        &:before {
            @include fontAwesome;
            content: '\f077';
            font-size: 0.8rem;
            opacity: 0.5;
        }
        &.hidden {
            display: flex !important;
            &::before {
                @include fontAwesome;
                content: '\f054';
            }
        }
    }
    &.tocFixed {
        display: none;
        position: fixed;
        height: 100%;
        max-width: 350px;
        min-width: 350px;
        z-index: 101;
        top: 128px;
        box-shadow: 2px -2px 7px rgba($colorBackgroundLv1, 0.35);
        left: 0;
        &:dir(rtl), [dir="rtl"] & {
            left: unset;
            right: 0;
        }
        .tocContentMain_list {
            display: block !important;
        }
        .tocContentMain_close {
            &:before {
                @include fontAwesome;
                content: '\f057' !important;
                font-size: 1.3rem;
            }
        }
    }
    @media(max-width: 991px){
        &_title {
            padding: 0.5rem 0.75rem;
        }
        &_list {
            padding: 0.25rem 0.75rem 0.75rem;
        }
    }
    @media(max-width: 767px){
        &_title {
            padding: 0.5rem;
        }
        &_list {
            padding: 0.25rem 0.5rem 0.5rem;
        }
    }
}
.tocFixedIcon {
    display: none;
    position: fixed;
    width: 38px;
    height: 38px;
    background: $colorBackgroundLv2;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid $colorBackgroundLv3;
    z-index: 100;
    opacity: 0.8;
    margin-bottom: 0 !important;
    top: 50%;
    left: 0;
    &:dir(rtl), [dir="rtl"] & {
        left: unset;
        right: 0;
    }
    &:hover {
        opacity: 1;
    }
    > div {
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        &:before {
            content: "\f0ca";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.35rem;
        }
    }
    @media(max-width: 767px){
        left: 0.25rem !important;
    }
}
.contentElement {
    max-width: 660px;
    margin: 0 auto;
}