/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/menu.scss';
@import 'childs/header-top.scss';
@import 'childs/responsive.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/product.scss';
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/modal.scss';
@import 'childs/loading.scss';

// @import 'childs/login.scss';
// @import 'childs/modal.scss';

.boxHomeItem {
    margin: 100px 0;
    @media(max-width: 1199px){
        margin: 80px 0;
    }
    @media(max-width: 1023px){
        margin: 60px 0 ;
    }
    @media(max-width: 767px){
        margin: 50px 0;
        padding: 0 12.5px;
    }
}

.introduceBox {
    display: flex;
    align-items: stretch;
    gap: 3.5rem;
    &_item {
        width: 100% !important;
        @media(max-width: 990px){
            &:first-child {
                display: none;
            }
            &:last-child {
                margin: 0 105px;
            }
            .elementor-widget-trx_sc_title, .sc_item_title, .elementor-widget-container {
                text-align: center;
                padding: 0 !important; 
            }
        }

        @media(max-width: 767px){ 
            &:last-child {
                margin: 0;
            }
        }
    }
    @media(max-width: 1199px){
        gap: 3rem;
    }
}
