/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/menu.scss';
@import 'childs/toccontent.scss';
@import 'childs/header-top.scss';
@import 'childs/ranking.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/modal.scss';
@import 'childs/loading.scss';

.pagePageBox {
    width: 100%;
    max-width: 85rem;
    margin: 110px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.aboutUsBox {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    &:not(:last-child){
        margin-bottom: 80px;
    }
    margin: 0 15px 0 0;
    &_image {
        width: 55%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_boxContent {
        width: 45%;
        &_title {
            h2 {
                margin-bottom: 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

.filterRanking {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    &_item {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        cursor: pointer;
        &:before {
            content: '\f078';
            @include fontAwesome;
            position: absolute;
            right: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            color: $colorLv2;
            pointer-events: none;
        }
        select {
            visibility: visible !important;
            outline: none;
            border: 1px solid $colorBackgroundLv3;
            background: $colorBackgroundLv2;
            padding: 0.5rem 1.5rem 0.5rem 1rem;
            font-size: 1.15rem;
            color: $colorText;
            font-weight: 500;
            &::-webkit-scrollbar {
                background-color: transparent;
                // background: $colorBackgroundLv3;
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $colorBackgroundLv3;
                border-radius: 1000px;
                // -webkit-box-shadow: inset 0 0 6px $bg-03;
            }
            &::-webkit-scrollbar-track {
                // -webkit-box-shadow: inset 0 0 6px $bg-03;
                border-radius: 0.75rem;
                background: transparent;
            }
        }
    }
}