/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/menu.scss';
@import 'childs/toccontent.scss';
@import 'childs/header-top.scss';
@import 'childs/responsive.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/product.scss';
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/modal.scss';
@import 'childs/loading.scss';

.pageProductDetailBox {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    margin-bottom: 0;
    &_left {
        width: 55%; /* cố định 55% vì trong javascript */
        display: flex;
        flex-direction: column;
    }
    &_right {
        width: 45%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    // @media(max-width: 1799px){
    //     &_left {
    //         flex: 0 0 52%;
    //     }
    // }
    // @media(max-width: 1499px){
    //     &_left {
    //         flex: 0 0 55%;
    //     }
    // }
    // @media(max-width: 1199px){
    //     gap: 1.25rem;
    // }
    // @media(max-width: 991px){
    //     gap: 1rem;
    //     flex-wrap: wrap;
    //     flex-direction: column-reverse;
    //     &_left {
    //         flex: unset;
    //         width: 100%;
    //     }
    // }
    // @media(max-width: 767px){
    //     gap: 0.75rem;
    // }
    // @media(max-width: 577px){
    //     gap: 0.5rem;
    // }
    .titlePage {
        margin-bottom: 0 !important;
    }
}
.galleryProductBox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    &_item {
        width: 100%;
        position: relative;
        // border-radius: 35px;
        cursor: pointer;
        aspect-ratio: 1/1;
        overflow: hidden;
        // border-radius: 7%;
        .zIndexHide {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &_backgroundImage {
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        img {
            object-fit: contain;
            border-radius: inherit;
        }
        &_note {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(90deg, transparent, rgb(0,0,0), transparent);
            color: $colorText;
            text-shadow: 1px 1px 15px #333;
            font-size: 0.9rem;
            text-align: center;
            padding: 0.2rem 0.5rem;
        }
        @include backgroundFillWallpaperOfProduct;
    }
    &.mobile {
        margin-bottom: 1.5rem;
        .galleryProductBox_item {
            margin-top: 0 !important;
        }
        .slick-track {
            display: flex;
        }
    }
    .highLight {
        font-family: $fontTitle;
        color: $colorTextLight;
    }
    @media(max-width: 1199px){
        gap: 0.875rem 0.625rem;
        &_item {
            width: calc(50% - 0.3125rem);
        }
    }
    @media(max-width: 991px){
        gap: 0.75rem 0.5rem;
        &_item {
            width: calc(33.3333% - 0.3333rem);
        }
    }
    @media(max-width: 767px){
        gap: 0.625rem 0.325rem;
        &_item {
            width: calc(50% - 0.1625rem);
        }
    }
}
.productDetailBox {
    position: sticky;
    top: calc(52.5px + 1.5rem);
    &_detail {
        &_title {
            @include titleDefault;
        }
        &_rating {
            // margin-bottom: 0.5rem;
        }
        &_description {
            text-align: justify;
            &.customScrollBar-y {
                padding-right: 0.5rem;
            }
        }
        &_option {
            font-size: 1.25rem;
            &_title {
                font-weight: bold;
                display: inline-block;
            }
            &_box {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                gap: 1.25rem 0.75rem;
                &_item {
                    display: inline-block;
                    background: $colorBackgroundLv2;
                    color: $colorText;
                    padding: 0.75rem 1.5rem;
                    cursor: pointer;
                    font-family: $fontTitle;
                    &.selected {
                        background: $colorLv2;
                        color: #f1ede1;
                        text-shadow: 1px 1px 10px $colorBackgroundLv1;
                    }
                
                    &:not(:first-child):hover {
                        background: $colorLv2;
                        color: #f1ede1;
                        text-shadow: 1px 1px 10px $colorBackgroundLv1;
                    }
                }
            }
        }
        &_price {
            min-height: 40px; /* dùng cho ajax */
            &_item {
                display: none;
                align-items: center;
                gap: 2rem;
                letter-spacing: 1px;
                &_real {
                    color: $colorLv1;
                    letter-spacing: 2.5px;
                    font-size: 2.2rem;
                    font-weight: bold;
                }
                &_old {
                    color: $colorText;
                    font-size: 1.25rem;
                    text-decoration: line-through;
                }
                &_saleoff {
                    background: $colorLv2;
                    color: yellow;
                    font-size: 1.25rem;
                    font-weight: bold;
                    padding: 0.75rem 1.5rem;
                    text-shadow: 1px 1px 10px $colorBackgroundLv1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
                }
                &.selected {
                    display: flex;
                }
            }
        }
        &_quantity {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            &_box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0;
                border-radius: 7px;
                border: 1px solid $colorBackgroundLv3;
                > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &_number {
                    width: 60px;
                    height: 37px;
                    input {
                        color: $colorLv2;
                        font-weight: bold !important;
                        font-size: 1.4rem !important;
                        text-align: center;
                        padding: 0 !important;
                        margin: 0 !important;
                        letter-spacing: 2px !important;
                    }
                }
                &_minus, &_plus {
                    width: 40px;
                    height: 35px;
                    background: $colorBackgroundLv2;
                    cursor: pointer;
                }
            }
        }
        &_checkout {
            display: flex;
            align-items: center;
            // margin: 1.5rem 0;
            &_qty {
                flex: 0 0 fit-content;
            }
            &_button {
                width: 100%;
                display: flex;
                gap: 1rem;
                > * {
                    width: 100%;
                    &:not(:first-child){
                        border-left: 1px dashed $colorBackgroundLv3;
                    }
                    &:dir(rtl), [dir="rtl"] & {
                        &:not(:last-child){
                            border-left: unset;
                            border-right: 1px dashed $colorBackgroundLv3;
                        }
                    }
                }
                button {
                    width: 100%;
                    display: flex;
                    padding: 0.75rem 1.5rem;
                    font-family: $fontTitle;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    border-radius: 0.5rem !important;
                    img {
                        width: 1.3rem;
                    }
                }
            }
            // @media(max-width: 1499px){
            //     &_button {
            //         flex-direction: column;
            //         gap: 1.25rem;
            //     }
            // }
            @media(max-width: 991px){
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                background: $colorBackgroundLv2;
                border-radius: 0.5rem 0.5rem 0 0;
                overflow: hidden;
                box-shadow: 0 -1px 5px $colorBackgroundLv1;
                &_button {
                    flex-wrap: nowrap;
                    gap: 0;
                    button {
                        border-radius: 0;
                        height: $heightMenu !important;   
                        font-size: 0.9rem !important;
                        display: flex;
                        padding: 0.5rem;
                    }
                }
                .priceMobile {
                    min-width: 100px;
                    display: flex !important;
                    align-items: center;
                    height: 100%;
                    color: $colorTextLight;
                    letter-spacing: 2.5px;
                    font-size: 1.2rem;
                    font-family: $fontTitle;
                    margin: 0 auto;
                }
            }
            @media(max-width: 767px){
                &_button {
                    button {
                        font-size: 0.875rem !important;
                        img {
                            width: 1.15rem;
                        }
                    }
                }
                .priceMobile {
                    padding-left: 1rem;
                    font-size: 1.1rem;
                }
            }
            @media(max-width: 577px){
                &_button {
                    button {
                        font-size: 0.85rem !important;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        gap: 0.25rem;
                        padding: 0.25rem 0.5rem;
                    }
                }
            }
        }
        &_note {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border-top: 1px solid $colorBackgroundLv3;
            padding-top: 1rem;
            margin-top: 0.5rem;
            span {
                font-weight: bold;
            }
        }
    }
    .highLight {
        @include highLight;
    }
}
.ratingBox {
	font-size: 1.25rem;
    font-weight: bold;
    display:flex;
    color: $colorText;
	&_star {
        min-width: 92px;
        // i {
        //     font-size: 1.15rem;
        // }
		&_on {
			color: $colorLv1 !important;
		}
		&_off {
			color: #789;
		}
	}
	&_text {
        margin-left: 0.5rem;
        a {
            color: $colorText;
            &:hover {
                color: $colorLv1;
            }
        }
	}
}
.pageProduct {
    width: 100%;
    max-width: 85rem;
    margin: 110px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* gallery */
.galleryBox {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.galleryBox_box {
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    width: 100%;
    margin-bottom: 1.25rem;
    overflow: hidden;
}

.galleryBox_box img {
    width: 100%;
    flex: 0 0 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.5s ease;
    object-fit: cover;
    cursor: zoom-in;
}

.galleryBox_box_item {
    width: 100%;
    flex: 0 0 100%;
}

.galleryBox_arrow__privious,
.galleryBox_arrow__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($colorBackgroundLv3, 0.75);
    padding: 8px 17px;
    color: $colorLv1;
    cursor: pointer;
}

.galleryBox_arrow__privious:hover,
.galleryBox_arrow__next:hover {
    background: $colorBackgroundLv3;
}

.galleryBox_arrow__privious {
    left: 0;
}

.galleryBox_arrow__next {
    right: 0;
}

.galleryBox_bar {
display: flex;
width: 100%;
overflow-x: scroll;
}

.galleryBox_bar::-webkit-scrollbar {
display: none;
}

.galleryBox_bar > * {
display: flex;
width: inherit;
height: 100%;
flex: 0 0 calc(27% - 12px);
opacity: 0.5;
border-radius: 3px;
cursor: pointer;
}

.galleryBox_bar > * img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.galleryBox_bar > *:not(:first-child) {
margin-left: 1.25rem;
}

.galleryBox_bar > *.selected {
opacity: 1;
/* border: 3px solid var(--color-text-title); */
border: 3px solid var(--color-text-title);
}

.galleryBox_bar.fullScreen> * {
flex: 0 0 calc(15% - 12px);
}

@media (max-width: 1199px) {
.galleryBox_bar.fullScreen> * {
    flex: 0 0 calc(18% - 12px);
}
}

@media (max-width: 990px) {
.galleryBox_bar.fullScreen> * {
    flex: 0 0 calc(21% - 12px);
}
}

@media (max-width: 767px) {
.galleryBox_bar.fullScreen> * {
    flex: 0 0 calc(23% - 12px);
}
}

@media (max-width: 577px) {
.galleryBox_bar.fullScreen> * {
    flex: 0 0 calc(28% - 12px);
}
}

@media (max-width: 419px) {
.galleryBox_bar.fullScreen> * {
    flex: 0 0 calc(36% - 12px);
}
}

#galleryBox_box_mobile {
margin-bottom: 0 !important;
}