/* Home ===== màn hình đầu tiên */
@import 'childs/default.scss';
@import 'childs/base.scss';
@import 'childs/breadcrumb.scss';
@import 'childs/menu.scss';
@import 'childs/toccontent.scss';
@import 'childs/header-top.scss';
@import 'childs/ranking.scss';
@import 'childs/responsive.scss';
/* Home ===== kém quan trọng (nhưng ít nên đưa vào đây luôn) */
@import 'childs/footer.scss';
@import 'childs/right.scss';
@import 'childs/modal.scss';
@import 'childs/loading.scss';

.pagePageBox {
    width: 100%;
    max-width: 85rem;
    margin: 8.7rem auto 8rem auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    
    @media(max-width: 1279px){
        margin-top: 8.2rem !important;
        margin-bottom: 5.6rem !important;
    }
    @media(max-width: 1023px){
        margin-top: 5.6rem !important;
        margin-bottom: 5.6rem !important;
    }
    @media(max-width: 767px){
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
        padding: 0 12.5px;
    }
    @media(max-width: 577px){
        margin-top: 4.8rem !important;
        margin-bottom: 4.8rem !important;
        padding: 0 10px;
    }
}

.infoAthleteBox {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &_item {
        &.image {
            width: 250px;
            max-width: 520px;
            margin: 0 auto;
            height: 100%;
            overflow: visible;
        }
        &.detail {
            width: calc(100% - 250px - 2rem);
            .infoAthleteBox_item {
                &_box {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    &_item {
                        display: flex;
                        align-items: center;
                        > * {
                            &:first-child {
                                flex: 0 0 180px;
                            }
                        }
                    }
                }
            }
            i {
                margin-right: 0.5rem;
                font-size: 1rem;
            }
        }
        &.tableRakingBox {
            width: 100% !important;
        }
        h2 {
            margin-top: 0.5rem !important;
            margin-bottom: 1rem !important;
        }
    }
    @media(max-width: 1023px){
        gap: 1.75rem;
    }
    @media(max-width: 767px){
        gap: 1.5rem;
        &_item {
            &.image, &.detail {
                width: 100% !important;
            }
        }
        h2 {
            margin-bottom: 0.75rem !important;
        }
    }
    @media(max-width: 577px){
        gap: 1.25rem;
    }
}